<% if @user.errors.any? %>
	<div id="error_explanation">
		<h2>
			
		</h2>
		<p>There were problems here:</p>
		<ul>
		<% @user.errors.full_messages.each do |message| %>
			<li><%= message %></li>
			<% end %>
		</ul>
	</div>	
			<% end %>