<div class="user_info">

	<a href="<%= user_path(current_user) %>" >
	<span class="user_name">
	<%= current_user.name %>
	</span><br />
	<%= gravatar_for current_user, :size => 85 %><br />
	
	<span class="microposts">
	
	<%= pluralize(current_user.microposts.count, "Comments") %>
	
	</span>
	
	</a>
	

</div>