<!DOCTYPE html>

<html>

<head>

<title>

Dennis On Ruby  | <%= @title %>

</title>

</head>


<body>

<section>
<h1>My About Page</h1>

<p><strong>Hello thanks for visiting my about page. Below you will find my bio.</p>
</strong>

<p>

Dennis Sumlin <br />
2551 Miranda Court <br />
Woodbridge, Virginia <br />
(703) 899-8187<br />
 <a href="mailto:webmaster@dennissumlin.com">webmaster@dennissumlin.com</a><br />

<h3>Objective</h3><br />

I am seeking a challenging position as a Web Developer to ex- pand my knowledge in Web design and development that I have attained through my education. This will afford me the oppor- tunity to grow within a progressive and innovative company.
<br />
<br />
<br />
<h3>Skills and Experience</h3><br />

•Design, develop, and deploy webpages and web applications.<br />
•Knowledgeable in the following technologies and software:<br />
<br />
•Java	•CSS	•Dreamweaver	•Photoshop
•JavaScript	•HTML	•Fireworks	•Aperture
•SQL	•XHTML	•Flash	•MS Office
•PHP	•Ajax	•InDesign	•iWork
•Ruby on Rails	•ASP.NET	•Bridge	•iLife
<br />
<br />
<br />

<h3>Education and Certifications:</h3><br />

<h4>George Mason University • 2012-present</h4>
• The Volgenau School of Engineering <br />
• Information Technology<br />
<br />
<h4>Northern Virginia Community College • 2009-2011</h4>
• A.A.S. Information Systems Technology <br />
• C.S.C. Web Design and Development<br />
<br />
<h4>Apple Certified Mac Technician</h4>
• Macintosh OS X Certified •2011-present<br />
• Macintosh Hardware Certified •2011-present<br />
• Macintosh Mobile Device Certified •2011-present<br />
<br />
<br />
<br />
<h3>Employment</h3><br />

<h4>Apple Store Tysons Corner</h4><br />

•Apple Genius •2010-present<br />
• Provide technical support for Macintosh business users, consumers and professionals.<br />
• Preform data transfers from Windows based systems to Mac OS X. <br />
• Troubleshoot and repair Macintosh hardware components and software systems.<br />
• Provide business training to facilitate usage of Macintosh products.<br />
<br />
<br />
<h4>Cafe Milano •Washington D.C.</h4><br />

•Bartender/Server/Trainer • 2006-10<br />
• Private catering to celeberties, politicians and dignitaries<br />


</p>
</body>
</section>
</html>