<!DOCTYPE html>

<html>

<head>

<title>

</title>

</head>


<body>

<h1>My Contact Page</h1>
<p><a href="http://www.dennissumlin.com/contact.html">Contact Me Here<br /></a>
or <a href="mailto:webmaster@dennissumlin.com">Email me!</a></p>


</body>
</html>