<!DOCTYPE html>

<html>

<head>

<title>



</title>

</head>


<body>

<h1>Help Page</h1>
<p>Welcome To Dennis On Ruby On Rails</p>
<%= link_to "I'm Your Easy Button", 'home', :class => "signup_button round" %>


</body>
</html>